
.basic_heading
{
    width: 27vw;
    margin: auto;
    margin-top: 2vw;
    font-size: 3vw;
    font-family: 'Source Code Pro', monospace;
}
body
{
    overflow-y: scroll;
}

/****BACKGROUND****/
.background-box1
{
    /* border:2px solid black; */
    width: 60vw;
    margin:auto;
    margin-top: 2vw;
   background-color: #8582d726;
}

.background
{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.background-heading
{
    /* border: 2px solid red; */
    font-size: 2vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
}
.background-properties
{
    /* border:2px solid red; */
    /* margin: 4vw; */
    width: 51vw;
    height: 22vw;
}
.background-properties input 
{
    margin-bottom:2vw;
    margin-left:2vw;
    cursor:pointer;
}
.background-properties label
{
    cursor:pointer;
}
.output-background
{
    /* border:2px solid red; */
    width: 36vw;
    height: 21vw;
    background-color: white;
    margin-right: 1vw;
}

.op-bg
{
    /* border: 2px solid black; */
    height: 21.7vw;
}
.output-background span
{
    position: absolute;
    top: 57%;
    left: 63%;
}
#bg_color
{
    border: 1px solid black;
    height: 21vw; 
    background-color: rgb(231, 74, 74);
    
}
#bg_image
{
    border: 1px solid black;
    height: 21vw;
    background-image: url("/images/CSS_Icon.png");
    background-repeat: no-repeat;
}
#bg_repeat
{
    border: 1px solid black;
    height: 21vw;
}
#bg_position
{
    border: 1px solid black;
    height: 21vw;
}
#bg_size
{
    border: 1px solid black;
    height: 21vw;
}
#bg_attachment
{
    border: 1px solid black;
    height: 21vw;
}
#bg_
{
    border: 1px solid black;
    height: 21vw;
} 

/*****************/