
.basic_heading
{
    width: 27vw;
    margin: auto;
    margin-top: 2vw;
    font-size: 3vw;
    font-family: 'Source Code Pro', monospace;
    scroll-behavior: smooth;
}
body
{
    overflow-y: scroll;
}

/****BACKGROUND-BOX0****/
.background-box1
{
    /* border:2px solid black; */
    width: 82vw;
    margin: auto;
    margin-top: 0vw;
    background-color: #8582d726;
    height: 25vw;
    margin-bottom: 2vw;
}

.background
{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.background-heading
{
    /* border: 2px solid red; */
    font-size: 2vw;
    margin-left: 8.4vw;
    margin-bottom: 2vw;
}
.background-properties
{
    /* border:2px solid red; */
    /* margin: 4vw; */
    width: 51vw;
    height: 22vw;
    margin-top: 1vw;
}
.background-properties input 
{
    margin-bottom:2vw;
    margin-left:2vw;
    cursor:pointer;
}
.background-properties label
{
    cursor:pointer;
    font-size:1vw;
}
.output-background
{
    position: relative;
    /* border: 2px solid red; */
    width: 44vw;
    height: 23vw;
    background-color: white;
    margin-right: 1vw;
    margin-top: 1vw;
}

.op-bg
{
    /* border: 2px solid black; */
    height: 21.7vw;
}
.output-background h3
{
    /* border: 2px solid black; */
    width: 22vw;
    margin: auto;
    position: relative;
    top: 42%;
    font-size: 1.3vw;
    /* text-shadow: 2px 3px 2px gray; */
}
#bg_color
{
    /* border: 1px solid black; */
    height: 23vw; 
    background-color: rgb(231, 74, 74);
    
}
#bg_image
{
    /* border: 1px solid black; */
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
}
#bg_repeat
{
    /* border: 1px solid black; */
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
}
#bg_norepeat
{
    /* border: 1px solid black; */
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
}
#bg_repeatx
{
    /* border: 1px solid black; */
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: repeat-x;

}
#bg_repeaty
{
    /* border: 1px solid black; */
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: repeat-y;

}
#bg_repeatspace
{
    /* border: 1px solid black; */
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: space;

}
#bg_repeataround
{
    /* border: 1px solid black; */
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: round;

}
/****BACKGROUN- BOX1******/

#bg_positionll
{
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
    background-position: left left;
}
#bg_positionlb
{
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}
#bg_positionlt
{
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
    background-position: left top;
}
#bg_positionrt
{
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
    background-position: right top;
}
#bg_positionrc
{
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
    background-position: right center;
}
#bg_positionct
{
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
    background-position: center top;
}
#bg_positionpercentage
{
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#bg_positionpixel
{
    height: 23vw;
    background-image: url("/images/linkedaccount.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*******Background Box 2*********/
.instruction
{
    border: 2px solid red;
    /* position: absolute; */
    margin: auto;
    width: 25vw;
    margin-top: 10vw;
    font-size: 1.8vw;
    text-align: center;
}
h4
{
    /* border:2px solid red; */
    height: 22.8vw;
}
#bg_attachmentscroll
{
    background-image: url("/images/linkedaccount.png");
    background-attachment: scroll;
}
#bg_attachmentfixed 
{
    background-image: url("/images/linkedaccount.png");
    background-attachment: fixed;
}
#bg_attachmentlocal 
{
    background-image: url("/images/linkedaccount.png");
    background-attachment: local;
}
#bg_sizelength
{
    background-image: url("/images/linkedaccount.png");
    background-size: 10vw 10vw;
    background-repeat: no-repeat;
}
#bg_sizepercentage
{
    background-image: url("/images/linkedaccount.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
#bg_sizecontain
{
    background-image: url("/images/linkedaccount.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#bg_sizecover
{
    background-image: url("/images/linkedaccount.png");
    background-size: cover;
    background-repeat: no-repeat;
}

