*
{
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: rgb(0, 0, 0); */
    background-image: url("https://image.freepik.com/free-vector/abstract-paper-hexagon-white-background_51543-7.jpg");
}
.NAVBAR
{
    box-shadow: 7px 2px 20px black;
    height: 5.6vw
}
.header 
{
    /* border: 2px solid black; */
    width: 69.1vw;
    margin-left: 24vw;
    border-radius: 0.5vw;
    background-image: linear-gradient(to right, #0800FF9C , #0C05D999, #1600E97A, #4300FF73);
}
.header-ul
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.items
 {
    font-size: 1.5vw;
    padding: 1.6vw;
    list-style: none;
    text-decoration: none;
}

.items a
{
    text-decoration: none;
    color: black;
}
.home
{
    position: absolute;
    top: 1.3vw;
    left: 12vw;
}
.home img
{
    width:3.2vw;
}
.CSS
{
    position: absolute;
    top: 1.3vw;
    left: 18.4vw;
}
.CSS img
{
    width:2.2vw;
}
.dark_mode
{
    position: absolute;
    top: 1.3vw;
    right: 2.2vw;
}
.dark_mode img
{
    width:3.3vw;
    cursor: pointer;
}
.Menu
{
    position: absolute;
    top: 1.3vw;
    left: 2vw;
}
.Menu img
{
    width:3.3vw;
}
.wave
{
    position: absolute;
    bottom: 1vw;
    width: 100vw;
    left: 0vw;
    top: 0vw;
    opacity: 50%;
    z-index: -1;
    filter: blur(20px);
}
.bg img
{
    width: 97vw;
    position: absolute;
    top: 10vw;
    left: 1vw;
    opacity: 50%;
}
.Topic
{
    position: absolute;
    top: 15vw;
    font-size: 3.6vw;
    left: 4vw;
    font-family: 'Source Code Pro', monospace;
}
.Topic-Info
{
    position: absolute;
    top: 24vw;
    left: 5vw;
    line-height: 5vw;
    font-size: 1.3vw;
}
.csssymbol img
{
    position: absolute;
    width: 28vw;
    top: 11vw;
    left: 58vw;
    z-index: 5;
    filter: drop-shadow(7px 1px 0px black);
}
/* .bgbg img
{
    position: absolute;
    width: 67vw;
    left: 40vw;
    top: 4vw;
    filter: drop-shadow(1px 0px 0px black);
    margin-top: 1.6vw;
} */
.wave2
{
    position: absolute;
    top: 31vw;
    opacity: 50%;
    z-index: -1;
    filter: blur(54px);
}
.wave3
{
    position: absolute;
    top: -17vw;
    opacity: 50%;
    z-index: -1;
    filter: blur(54px);
    width: 261vw;
}

/****** BASIC LIST*******/
.basic-list
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 27vw;
    height: 37vw;
    position: absolute;
    top: 5vw;
    left: 18vw;
    background-color: #0c135ad9;
    color: white;
    z-index: 7;
    box-shadow: 20px 20px 20px 0px #00000082;
    display: none;
}
.Basics-topic
{
    list-style-type: none;
}
.Basics-topic a
{
    text-decoration: none;
    color: aquamarine;
    font-size: 1.3vw;
    margin-left: 1vw;
}
.Basics-topic a:hover
{
    text-decoration: underline;
    color: #fff;
    font-size: 1.3vw;
    margin-left: 1vw;
}
#basics:hover .basic-list
{
    display:grid;
}

/********ADVANCE LIST**************/
.advance-list
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 27vw;
    height: 37vw;
    position: absolute;
    top: 5vw;
    left: 29vw;
    background-color: #0c135ad9;
    color: white;
    z-index: 7;
    box-shadow: 20px 20px 20px 0px #00000082;
    display: none;
}
.advance-topic
{
    list-style-type: none;
}
.advance-topic a
{
    text-decoration: none;
    color: aquamarine;
    font-size: 1.3vw;
    margin-left: 1vw;
}
.advance-topic a:hover
{
    text-decoration: underline;
    color: #fff;
    font-size: 1.3vw;
    margin-left: 1vw;
}

#advance:hover .advance-list
{
    display:grid;
}

/********FLEX_BOX*******/
.flexbox-list
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 27vw;
    height: 37vw;
    position: absolute;
    top: 5vw;
    left: 45vw;
    background-color: #0c135ad9;
    color: white;
    z-index: 7;
    box-shadow: 20px 20px 20px 0px #00000082;
    display: none;
}
.flexbox-topic
{
    list-style-type: none;
}
.flexbox-topic a
{
    text-decoration: none;
    color: aquamarine;
    font-size: 1.3vw;
    margin-left: 1vw;
}
.flexbox-topic a:hover
{
    text-decoration: underline;
    color: #fff;
    font-size: 1.3vw;
    margin-left: 1vw;
}

#flexbox:hover .flexbox-list
{
    display:grid;
}

/****grid******/
.grid-list
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 27vw;
    height: 37vw;
    position: absolute;
    top: 5vw;
    left: 57vw;
    background-color: #0c135ad9;
    color: white;
    z-index: 7;
    box-shadow: 20px 20px 20px 0px #00000082;
    display: none;
}
.grid-topic
{
    list-style-type: none;
}
.grid-topic a
{
    text-decoration: none;
    color: aquamarine;
    font-size: 1.3vw;
    margin-left: 1vw;
}
.grid-topic a:hover
{
    text-decoration: underline;
    color: #fff;
    font-size: 1.3vw;
    margin-left: 1vw;
}

#grid:hover .grid-list
{
    display:grid;
}
/*****responsive******/
.responsive-list
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 27vw;
    height: 37vw;
    position: absolute;
    top: 5vw;
    left: 69vw;
    background-color: #0c135ad9;
    color: white;
    z-index: 7;
    box-shadow: 20px 20px 20px 0px #00000082;
    display: none;
}
.responsive-topic
{
    list-style-type: none;
}
.responsive-topic a
{
    text-decoration: none;
    color: aquamarine;
    font-size: 1.3vw;
    margin-left: 1vw;
}
.responsive-topic a:hover
{
    text-decoration: underline;
    color: #fff;
    font-size: 1.3vw;
    margin-left: 1vw;
}

#responsive:hover .responsive-list
{
    display:grid;
}