body{
    background-image: url("https://image.freepik.com/free-vector/honeycomb-white-background_51543-116.jpg");
    background-attachment: fixed;
}
#svG {
    height: 42.6vw;
}

/*main heading*/
#main-heading {
    position: absolute;
    top: 2vw;
    left: 5vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 10vw;
    width: 43vw;
    margin: auto;
    margin-top: 14vw;
    color: rgb(255, 255, 255);
}

/* Background Properties */
#background-properties-heading {
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.7vw;
    text-align: center;
    padding: 22vw;
    /* margin-top:0.5vw; */
    background-image: url("../Spirits/wave6.png");
    background-attachment: fixed;
}

/* ************************************************************* */
                    /* 1. Background Color */
/* **************************************************************** */
.back-co-heading {
    width: fit-content;
    margin: auto;
    font-size: 2.5vw;
    margin-top: 2vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5vw;
    margin-bottom: 2vw;
}

.background-color {
    /* border:2px solid black;
    width:90vw;
    margin:auto;
    display:flex;
    justify-content: center;
    height:24vw;
    box-shadow: rgb(38 57 77) 0px 14px 30px -10px;
    background-color: #8582d726; */
    width: 82vw;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #8582d726;
    height: 30vw;
    margin-bottom: 11vw;
    box-shadow: rgb(38 57 77) 0px 14px 30px -10px;
    background-image: url("../Spirits/wave5.png");
    background-attachment: fixed;
}

.back-co-left-selector {
    /* border:2px solid red; */
    width: 40vw;
}

.back-co-left-selector form {
    width: max-content;
    margin-left: 2vw;
    margin-top: 5vw;
}

.back-co-left-selector input {
    margin-bottom: 2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.back-co-left-selector label {
    cursor: pointer;
    font-size: 1vw;
    font-family: 'Source Code Pro', monospace;
}

.back-co-right-result {
    /* border:2px solid yellow; */
    background-color: rgba(240, 248, 255, 0.66);
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.493);
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;

}
.back-co-right-result ul{
    margin: 9vw 4vw 0vw;
}
.back-co-right-result li {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    margin-top:1vw;
}
/* Background color all results stylung */
.back-co-class{
    height: 4vw;
    font-family: 'Source Code Pro', monospace;
    padding: 12vw;
}
#back-co-1{
    background-color: greenyellow;
    transition: 0.5s;

}
#back-co-2{
    background-color: #ff3399;
    transition: 0.5s;

}
#back-co-3{
    background-color: rgb(204, 51, 255);
}
#back-co-4{
    background-color: rgba(12, 225, 12, 0.742);
}
#back-co-5{
    background-color: transparent;
}
#back-co-6{
    background-color: hsl(200, 100%, 30%);
    color: aliceblue;
}
#back-co-7{
    background-color: hsla(315, 100%, 40%, 0.47);
}
/* ************************************************************* */
                    /* 1. Background Image */
/* **************************************************************** */
.back-im-heading {
    width: fit-content;
    margin: auto;
    font-size: 2.5vw;
    margin-top: 2vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5vw;
    margin-bottom: 2vw;
}

.background-image {
    /* border:2px solid black;
    width:90vw;
    margin:auto;
    display:flex;
    justify-content: center;
    height:24vw;
    box-shadow: rgb(38 57 77) 0px 14px 30px -10px;
    background-color: #8582d726; */
    width: 82vw;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #8582d726;
    height: 30vw;
    margin-bottom: 11vw;
    box-shadow: rgb(38 57 77) 0px 14px 30px -10px;
    background-image: url("../Spirits/wave5.png");
    background-attachment: fixed;
}

.back-im-left-selector {
    /* border:2px solid red; */
    width: 40vw;
}

.back-im-left-selector form {
    width: max-content;
    margin-left: 2vw;
    margin-top: 5vw;
}

.back-im-left-selector input {
    margin-bottom: 2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.back-im-left-selector label {
    cursor: pointer;
    font-size: 1vw;
    font-family: 'Source Code Pro', monospace;
}

.back-im-right-result {
    /* border:2px solid yellow; */
    background-color: rgba(240, 248, 255, 0.66);
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.493);
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;

}
.back-im-right-result ul{
    margin: 9vw 4vw 0vw;
}
.back-im-right-result li {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    margin-top:1vw;
}
/* Background color all results stylung */
.back-im-class{
    height: 4vw;
    font-family: 'Source Code Pro', monospace;
    padding: 12vw;
}
#back-im-1{
    background-color: greenyellow;
    transition: 0.5s;

}
#back-im-2{
    background-color: #ff3399;
    transition: 0.5s;

}
#back-im-3{
    background-color: rgb(204, 51, 255);
}
#back-im-4{
    background-color: rgba(12, 225, 12, 0.742);
}
#back-im-5{
    background-color: transparent;
}
#back-im-6{
    background-color: hsl(200, 100%, 30%);
    color: aliceblue;
}
#back-im-7{
    background-color: hsla(315, 100%, 40%, 0.47);
}