body {
    background-image: url("../5.EXTRA/Spirits/2.Light-Bg/light-bg1.jpg");
    /* background-image: url("../Spirits/day-bg.jpg"); */
    background-attachment: fixed;
}

#svG {
    height: 42.6vw;
    /* background-image: url("../Spirits/basic-video.gif"); */
    background-image: url("../5.EXTRA/Spirits/3.Dark-Bg/dark-bg1.jpg");
    background-attachment: fixed;
}

/*main heading*/
#main-heading {
    position: absolute;
    top: 2vw;
    left: 5vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 10vw;
    width: 43vw;
    margin: auto;
    margin-top: 14vw;
    color: rgba(255, 255, 255, 0.505);
}

/* Background Properties */
#background-properties-heading {
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.7vw;
    text-align: center;
    padding: 26vw;
    /* margin-top:0.5vw; */
    background-image: url("../5.EXTRA/Spirits/3.Dark-Bg/dark-bg3.png");
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.68);
}

/* ************************************************************* */
/* 1. Background Color */
/* **************************************************************** */
#Background_Color {
    padding: 6vw 0vw 6vw;
}

.back-co-heading {
    width: fit-content;
    margin: auto;
    font-size: 2.5vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5vw;
    margin-bottom: 2vw;
}

.background-color {
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #8582d726;
    height: 30vw;
    box-shadow: rgb(38 57 77) 0px 14px 30px -10px;
    background-attachment: fixed;
}

.back-co-left-selector {
    width: 40vw;
}

.back-co-left-selector form {
    width: max-content;
    margin-left: 2vw;
    margin-top: 5vw;
}

.back-co-left-selector input {
    margin-bottom: 2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.back-co-left-selector label {
    cursor: pointer;
    font-size: 1vw;
    font-family: 'Source Code Pro', monospace;
}

.back-co-right-result {
    /* border:2px solid yellow; */
    background-color: rgba(240, 248, 255, 0.66);
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.493);
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;

}

.back-co-right-result ul {
    margin: 9vw 4vw 0vw;
}

.back-co-right-result li {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    margin-top: 1vw;
}

.back-co-class {
    height: 4vw;
    font-family: 'Source Code Pro', monospace;
    padding: 12vw;
}

#back-co-1 {
    background-color: greenyellow;
}

#back-co-2 {
    background-color: #ff3399;
}

#back-co-3 {
    background-color: rgb(204, 51, 255);
}

#back-co-4 {
    background-color: rgba(12, 225, 12, 0.742);
}

#back-co-5 {
    background-color: transparent;
}

#back-co-6 {
    background-color: hsl(200, 100%, 30%);
    color: aliceblue;
}

#back-co-7 {
    background-color: hsla(315, 100%, 40%, 0.47);
}

/* ************************************************************* */
/* 2. Background Image */
/* **************************************************************** */
#Background_Image {
    padding: 2vw 0vw 6vw;
}

.back-im-heading {
    width: fit-content;
    margin: auto;
    font-size: 2.5vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5vw;
    margin-bottom: 2vw;
}

.background-image {
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #8582d726;
    height: 35vw;
    box-shadow: rgb(38 57 77) 0px 14px 30px -10px;
    background-attachment: fixed;
}

.back-im-left-selector {
    width: 50vw;
}

.back-im-left-selector form {
    width: max-content;
    margin-left: 2vw;
    margin-top: 5vw;
}

.back-im-left-selector input {
    margin-bottom: 2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.back-im-left-selector label {
    cursor: pointer;
    font-size: 1vw;
    font-family: 'Source Code Pro', monospace;
}

.back-im-right-result {
    background-color: rgba(240, 248, 255, 0.66);
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.493);
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;

}

.back-im-right-result ul {
    margin: 9vw 4vw 0vw;
}

.back-im-right-result li {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    margin-top: 1vw;
}

.back-im-class {
    height: 5vw;
    font-family: 'Source Code Pro', monospace;
    padding: 14vw;
}

#back-im-1 {
    background-image: url("../5.EXTRA/Spirits/1.Icons/css-symbol-trans.png");
}

#back-im-2 {
    background-image: url("../5.EXTRA/Spirits/1.Icons/css-symbol-trans.png"), url("../5.EXTRA/Spirits/2.Light-Bg/light-bg3.jpg");
}

#back-im-3 {
    background-image: none;
}

#back-im-4 {
    background: conic-gradient(red, orange, yellow);
}

#back-im-5 {
    background: linear-gradient(red, orange, yellow);
}

#back-im-6 {
    background: radial-gradient(red, orange, yellow);
}

#back-im-7 {
    background: repeating-conic-gradient(red 10%, yellow 20%);
}

#back-im-8 {
    background: repeating-linear-gradient(red 10%, yellow 20%);
}

#back-im-9 {
    background: repeating-radial-gradient(red 10%, yellow 20%);
}

.back-im-class span {
    background-color: rgba(0, 0, 0, 0.605);
    color: rgba(255, 255, 255, 0.781);
}

/* ************************************************************* */
/* 3. Background Repeat */
/* **************************************************************** */
#Background_Repeat {
    padding: 2vw 0vw 6vw;
}

.back-re-heading {
    width: fit-content;
    margin: auto;
    font-size: 2.5vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5vw;
    margin-bottom: 2vw;
}

.background-repeat {
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #8582d726;
    height: 30vw;
    box-shadow: rgb(38 57 77) 0px 14px 30px -10px;
    background-attachment: fixed;
}

.back-re-left-selector {
    width: 50vw;
}

.back-re-left-selector form {
    width: max-content;
    margin-left: 2vw;
    margin-top: 5vw;
}

.back-re-left-selector input {
    margin-bottom: 2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.back-re-left-selector label {
    cursor: pointer;
    font-size: 1vw;
    font-family: 'Source Code Pro', monospace;
}

.back-re-right-result {
    background-color: rgba(240, 248, 255, 0.66);
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.493);
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;

}

.back-re-right-result ul {
    margin: 9vw 4vw 0vw;
}

.back-re-right-result li {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    margin-top: 1vw;
}

/* Background color all results stylung */
.back-re-class {
    height: 6vw;
    font-family: 'Source Code Pro', monospace;
    padding: 11vw;
}

#back-re-1 {
    background-image: url("../5.EXTRA/Spirits/1.Icons/css-symbol-trans.png");
    background-repeat: repeat;
}

#back-re-2 {
    background-image: url("../5.EXTRA/Spirits/1.Icons/css-symbol-trans.png");
    background-repeat: repeat-x;
}

#back-re-3 {
    background-image: url("../5.EXTRA/Spirits/1.Icons/css-symbol-trans.png");
    background-repeat: repeat-y;
}

#back-re-4 {
    background-image: url("../5.EXTRA/Spirits/1.Icons/css-symbol-trans.png");
    background-repeat: no-repeat;
}

#back-re-5 {
    background-image: url("../5.EXTRA/Spirits/1.Icons/css-symbol-trans.png");
    background-repeat: space;
}

#back-re-6 {
    background-image: url("../5.EXTRA/Spirits/1.Icons/css-symbol-trans.png");
    background-repeat: round;
}
.back-re-class span {
    background-color: rgba(0, 0, 0, 0.605);
    color: rgba(255, 255, 255, 0.781);
}

/* ************************************************************* */
/* 5. Background position */
/* **************************************************************** */
#Background_Position {
    padding: 2vw 0vw 6vw;
}

.back-po-heading {
    width: fit-content;
    margin: auto;
    font-size: 2.5vw;
    /* margin-top: 2vw; */
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5vw;
    margin-bottom: 2vw;
}

.background-position {
    width: 95vw;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #8582d726;
    height: 35vw;
    /* margin-bottom: 6vw; */
    box-shadow: rgb(38 57 77) 0px 14px 30px -10px;
    /* background-image: url(../Spirits/wave5.png); */
    background-attachment: fixed;
}

.back-po-left-selector {
    /* border:2px solid red; */
    width: 50vw;
}

.back-po-left-selector form {
    width: max-content;
    margin-left: 2vw;
    margin-top: 5vw;
}

.back-po-left-selector input {
    margin-bottom: 2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.back-po-left-selector label {
    cursor: pointer;
    font-size: 1vw;
    font-family: 'Source Code Pro', monospace;
}

.back-po-right-result {
    /* border:2px solid yellow; */
    background-color: rgba(240, 248, 255, 0.66);
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.493);
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;

}

.back-po-right-result ul {
    margin: 9vw 4vw 0vw;
}

.back-po-right-result li {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    margin-top: 1vw;
}

/* Background color all results stylung */
.back-po-class {
    height: 5vw;
    font-family: 'Source Code Pro', monospace;
    padding: 14vw;
}

#back-po-1 {
    background-image: url("../Spirits/css-symbol-trans.png");
    /* transition: 0.5s; */

}

#back-po-2 {
    background-image: url("../Spirits/css-symbol-trans.png"), url("../Spirits/paper.jpg");
    /* transition: 0.5s; */
}

#back-po-3 {
    background-image: none;
}

#back-po-4 {
    background: conic-gradient(red, orange, yellow);
}

#back-po-5 {
    background: linear-gradient(red, orange, yellow);
}

#back-po-6 {
    background: radial-gradient(red, orange, yellow);
}

#back-po-7 {
    background: repeating-conic-gradient(red 10%, yellow 20%);
}

#back-po-8 {
    background: repeating-linear-gradient(red 10%, yellow 20%);
}

#back-po-9 {
    background: repeating-radial-gradient(red 10%, yellow 20%);
}

.back-po-class span {
    background-color: rgba(0, 0, 0, 0.605);
    color: rgba(255, 255, 255, 0.781);
}